body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  background: #e23e57;
}

section {
  background: linear-gradient(#311d3f, #e23e57);
  width: 100%;
  height: 100vh;
  margin-top: 3.3em;
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 3.3em;
  margin-top: -3.3em;
  background-color: #311d3f;
  text-align: right;
  box-shadow: 0px 0px 3px 0px white;
  z-index: 9999;
}
.button-bar {
  display: inline-block;
  color: white;
  /*background: linear-gradient(#522546, #E23E57);*/
  width: 8.2em;
  height: 3.3em;
  text-align: center;
  transition-duration: 0.1s;
  font-size: 1em;
}

.button-bar:hover {
  /*box-shadow: 3px 3px 3px white;*/
  color: #311d3f;
  background: linear-gradient(#311d3f, #522546, #88304e, #e23e57);
  border-radius: 10px 10px 0px 0px;
  transition-duration: 0.3s;
  /*background: linear-gradient(#ff0055, #e23e57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;*/ /*Otra forma*/
}

a {
  text-decoration: none;
  color: white;
  font-size: 100%;
}

a:hover {
  text-decoration: none;
}

.home-button {
  position: absolute;
  height: 60%;
  left: 1.5%;
  top: 18%;
  filter: invert(100%);
  transition-duration: 0.3s;
}

.home-button:hover {
  filter: invert(0%);
  transition-duration: 0.3s;
  cursor: pointer;
}

/*.vl{
  position: relative;
  display: inline-block;
  border-left: 2px solid #e23e57;
  height: 25%;
}*/ /*Otra forma*/
h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
  margin-top: 15px;
  padding-right: 10px;
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #311d3f;
  width: 5%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(#311d3f, #522546, #88304e, #e23e57);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dddcdc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9a9e9e;
}

#carouselProjects {
  padding-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
