body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  background: #112031;
}

/* Seccion principal */
#home {
  width: 100%;
  margin-top: 3.3em;
  height: 100vh;
}

#home > .container-fluid {
  height: 100vh;
  /*padding: 2.2% 15% 45px;*/
}

/* Seccion perfil */
.profile-col{
  text-align: center;
}

.img-profile{
  height: 18vw;
  width: 20vw;
  min-height: 300px;
  min-width: 300px;
  margin-top: 5%;
  text-align: right;
}

.introd-about-me{
  margin-bottom: 7%;
}

/* Generales */
a {
  text-decoration: none;
  color: white;
  font-size: 100%;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  padding: 3% 15% 5%;
}

.container-fluid hr {
  border-style: solid;
  border-width: 1px;
  border-color: orange;
  width: 95%;
}

.col-md-6 {
  padding: 0% 5%;
}

img {
  border-radius: 10px;
  text-align: center;
  max-width: 1200px;
  max-height: 650px;
}

.carouselProyectsImg:hover{
  box-shadow: 0 0 5px 0px #fff;
  transition-duration: 0.2s;
}

h1 {
  font-size: 5em;
  font-weight: 700;
  text-align: left;
  font-family: "Dosis";
  color: #cdffeb;
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: #cdffeb;
}

h3 {
  font-size: 1.3rem;
  margin-top: 15px;
  position: relative;
  left: 0;
  transition-duration: 0.3s;
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #fff;
  width: 5%;
}

li {
  color: #fff;
  font-size: 1.5rem;
  line-height: 3.5rem;
  list-style: none;
  margin-left: 7%;
}

p {
  font-size: 1.5rem;
  margin-top: 3%;
  color: #fff;
}

ul {
  padding-left: 0%;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: orange; /* Change the color */
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/*Escolaridad*/

.carousel {
  text-align: center;
}

#carouselProjects {
  padding-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

/*Barra de Navegacion*/

.nav-bar {
  position: fixed;
  width: 100%;
  height: 3.3em;
  margin-top: -3.3em;
  background-color: #020f1b;
  text-align: right;
  box-shadow: 0px 0px 3px 0px white;
  z-index: 9999;
}

.button-bar {
  display: inline-block;
  color: white;
  width: 8.3em;
  height: 3.3em;
  text-align: center;
  transition-duration: 0.1s;
  font-size: 1em;
  box-shadow: -17px 2px 2px -15px #cdffeb;
  cursor: pointer;
}

.button-bar:hover {
  transition-duration: 0.3s;
  box-shadow: -19px 2px 2px -15px orange;
  border-bottom: 0;
  left: 0;
}

.proyectos-btn:hover > h3{
  position: relative;
  left: -10%;
  transition-duration: 0.3s;
}

.aboutMe-btn:hover > h3{
  position: relative;
  left: -13%;
  transition-duration: 0.3s;
  cursor: pointer;
}

.contact-btn:hover > h3{
  position: relative;
  left: -12%;
  transition-duration: 0.3s;
}

.home-button {
  position: absolute;
  height: 60%;
  left: 1.5%;
  top: 18%;
  filter: invert(100%);
  transition-duration: 0.3s;
}

.home-button:hover {
  filter: invert(0%);
  transition-duration: 0.3s;
  cursor: pointer;
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #112031
}

::-webkit-scrollbar-thumb {
  background: #dddcdc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a9e9e;
}

/*Seccion SobreMi*/

.card {
  background-color: #020f1b;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 3%;
  height: 95%;
  text-align: left;
  opacity: 20%;
}

.card:hover {
  box-shadow: 0 0 5px 0px #fff;
  transition-duration: 0.2s;
}

.aboutMe-text {
  text-align: center;
}

.aboutMe-col {
  padding: 0%;
  margin-bottom: 3%;
}

.habilidades-col {
  text-align: center;
}

.habilidades-text {
  text-align: center;
}

.habilidades-col ul{
  margin-left: 33%;
}

.estrella-rating {
  color: orange;
  margin-bottom: 5%;
}

/*Seccion contacto*/

#contact {
  text-align: center;
  color: #fff;
}

.text-footer {
  margin-top: 0;
  margin-bottom: 0;
}

.text-footer-small{
  font-size: 1rem;
  color: grey;
  margin-top: 0;
}

.link-footer:hover {
  color: #cdffeb;
}

/*Js classes*/

.on-view{
  opacity: 100%;
  transition-duration: 0.9s;
}

.on-view-static{
  opacity: 100%;
}
